<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Commands</directory>
            <directory>tests/Config</directory>
            <directory>tests/Services</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
            <exclude>tests/Integration/DockerIntegrationTest.php</exclude>
        </testsuite>
        <testsuite name="Docker">
            <file>tests/Integration/DockerIntegrationTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <groups>
        <exclude>
            <group>docker</group>
        </exclude>
    </groups>
</phpunit>
